.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footerIcon {
  width: 24px;
  height: 24px;
  filter: drop-shadow(8px 8px 5px #a6a6a6);
}
