@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
